# Assignment 1

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1=  *  -  Expression (This is mathematical operator.)<br>
2 =  'hello'  - value (This is string value)<br>
3 =  -87.8 - value(This is float value)<br>
4 = - Expression (This is mathemagical operator)<br>
5 =  / Expression (This is mathematical operator)<br>
6 =  + Expression (This is mathematical operator)<br>
7 = 6 value(This is int value)<br>

###  2. What is the difference between string and variable?

 String = any value which written inside quotes '' or double quotes "" . mostly use to store alphabates and sequeans of alphabets <br>
varible = it means logical name to any data (varible is use to store data of any type)

example of string data type

In [1]:
a = "gaurav"
b ='b'
c = 'adas13516'

#### example of varible

In [2]:
a = "gaurav"
b = 14
c = [1,2,3]
d = 4+5j

## 3. Describe three different data types.

<br>1. int = This data type is use to store any integer value it may be posivtive or negative but without decimal points <br> 
2 flaot =  This data type is use to store any integer value it may be posivtive or negative but with decimal points <br>
3 complex = This datatype stores real + imaginary  no (3+4j)

Example

In [3]:
a = 5 # int 
b = 5.5 # float
c = 3+5j # complex

### 4. What is an expression made up of? What do all expressions do?

Expression is made up of numbers variables and operators and follows  the Bodmas rule follows the order of the BODMAS acronym ie B – Brackets, O – Order of powers or roots, D – Division, M – Multiplication A – Addition, and S – Subtraction the BODMAS rule states that mathematical expressions with multiple operators need to be solved from left to right in the order of BODMAS.

In [4]:
a = 5 
b = 1
c = 4
d = 3

In [5]:
all = [(a+b)/(b-c)*(b-d)*(d+a)]

In [6]:
all

[32.0]

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression is made up of numbers variables and operators liike a = b + c it will store single value after performing b +c opoeration and statement is use for assignment values to variable

###  6. After running the following code, what does the variable bacon contain?                                                     bacon = 22                                                                                                                                                                         bacon + 1

In [7]:
bacon = 22

In [8]:
bacon + 1

23

#### 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [10]:
'spam' * 3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

   Because giving varible name it have some rules which we have to follow like<br>
    1.varible can only  start with string or it can be follow by underscore(_) like _eggs<br>
    2. can't start with number  but  it can be follow by string like eggs100 <br>
    3. can't be a keyword  like while , for , is , True,print,else  or etc<br>
    4. can't contains symbol like @,#,%,$ , but can contain _<br>
    5. no space between varible for space purpose we can use _ like eggs_100<br>

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int() for integer value,<br>
float() for floating-point number<br>
str() for string value<br>

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [11]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

as you see in  this error we can concatenate only same type for values here we are using string and int

In [12]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'